h1 {
    text-align: center;
    margin: 2rem auto;
}

#game-board {
    width: 80rem;
    height: 45rem;
    border: 2px solid black;
    border-radius: 5%;
    margin: 0 auto;
}

#game-header {
    display: flex;
}

#btn-pause img {
    width: 5rem;
}

#btn-help img {
    width: 5rem;
}